* {
  box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
}

header {
background-color: #202020;
height: 10px;
padding: 5px;
text-align: center;
font-size: 35px;
color: limegreen;
}

section {
display: -webkit-flex;
display: flex;
}

nav {
  flex: 1;
max-width: 250px;
background: #202020;
padding: 5px;
}

nav ul {
list-style-type: none;
padding: 0;
color: limegreen;
}

articlesection {
  flex: 2;
  background-color:#202020;
  padding: 5px;
}


article {
background-color: #303030;
margin: 15px;
padding: 5px;
color: limegreen;
border: 1px solid limegreen;
}

@media (max-width: 600px) {
  section {
    -ms-flex-flow: column;
    flex-flow: column;
  } 
}

body {
background-color: #202020;
}

a:link {
color: limegreen;
}

a:visited {
color: #ff00ff;
}

a:active {
color: lightgrey;
} 

h1 {
text-align: center;
color: limegreen;
padding: 5px
}

h2 {
text-align: center;
color: limegreen;
padding: 5px
}

p {
color: lightgrey;
}
